# Git
.git

# IDEs
.vs
.vscode
.classpath

# Build output
bin
obj
**/*.pdb

# Environment / secrets
.env
appsettings.*.json

# Docs (optional but recommended)
README.md
LICENSE

# Compose files (optional)
docker-compose*
